/* CSS styles*/

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 0px;
    color: #c8e7ec;    
}

/* media queries for different images size*/

@media screen and (min-width: 900px) {
header {
    background-image: url("img/header.jpg"); 
    background-color: #ffffff;
    background-size:100% 120%;
    height: 300px;
    padding-top: 70px;
    padding-left: 30px;  
       
}

}
@media screen and (max-width: 900px) {
    header {
        background-image: url("img/header-mini.png");
        background-color:  #ffffff;        
        background-size:100% 121%;
        height: 300px;
        padding-top: 70px;
        padding-left: 30px;
     
    }
}

/* Styles aplied with ID*/
#titulo {
    color:#ffffff;
    font-size: 30px;
    font-weight: 400;
    justify-content: center;
    
}

nav {
    color:#ffffff;
    background-color: #61458c;
   
}
/* styles aplied with classes */
.navbar .navbar-nav .nav-link:hover {
    display: inline-block;
    background-color: #ffffff;
    color: #61458c;
    text-align: center; 
    transition-duration: 2s;   
    border-radius: 4px;
}

/*Who We are section*/

#we-text p {
    text-align: justify;
}

@media screen and (min-width: 900px) {
.colum {
    border-left: solid 1px #ccc;
}
}

.Img1 {
    float: left; 
    margin-right: 20px;
}

.ImgAds {
    float: right; 
    margin-left: 20px;
    margin-right: 5px;
    height: 40%;
    width: 40%;
}

/*Services section*/

.section-header {
    color:rgb(39, 35, 35);
}

#services div h3 {
    color:rgb(39, 35, 35);
    }

#services div p {
        color:rgb(39, 35, 35);
    }

.icon-circle {
    color: #61458c;
    
    font-size: 42px;
    text-align: center;
    width: 80px;
    height: 80px;
    border: #d3d3d3 4px solid;
    border-radius: 50%;
    margin-right: 20px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 300ms ease-out;
    transition: color 300ms ease-out;
}


.icon-circle:hover {
    color: #6c538d;
    background-color: #e8e2ee;
    float: left;
    font-size: 42px;
    text-align: center;
    width: 80px;
    height: 80px;
    border: #939097  4px solid;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}



.icon-circle:active {
    color: white;
    float: left;
    background-color: #8d7bad;
    font-size: 42px;
    text-align: center;
    width: 80px;
    height: 80px;
    border: #655b74 4px solid;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}



/*Portfolio section*/

.imgrotate {
    max-height: 170px;
    max-width: 360px !important;
    transform: translate(0px, 0px);
    transition: transform 410ms ease-out;
    border-radius: 4px !important;
  }
  
.imgrotate:hover {
    transform: rotate(345deg) translate(0px, 0px);
  }

.imgrotate2 {
    max-height: 170px; 
    max-width: 360px !important;
    transition: transform 800ms ease-out,
    border 600ms ease 104ms, 
    border-radius 600ms ease 104ms !important; 
}
  
.imgrotate2:hover {
    transform: rotate(360deg) translate(0px, 0px);
    transition: 
      transform 800ms ease 104ms, 
      border 600ms ease 104ms, 
      border-radius 600ms ease 104ms !important;
    border: 600px none rgba(100, 100, 100, 1) !important;
    border-radius: 50% !important;

  }  

  /* Seccion Location */

  #location {
    color:rgb(39, 35, 35)
  }

  address {   
    font-style: normal;
    padding-top: 25px;

}

@media screen and (max-width: 992px) {
    address {   
        font-style: normal;
        padding-top: 25px;
        text-align: center;
        
 
    }
}


.mapa {
    margin-top: 20px;
    width: 350px !important;
    height: 350px !important;
    border:rgb(0, 0, 0) 2px solid;
    border-radius: 50%;

}

/*Email Us section*/

.fondo {
    color: white;
    background-image: url(img/map-image.png);
    height: 50hv;
    background-position: center;
    background-repeat: none;
    background-size: cover; 
    background-color: #61458c;                
}

label {
    font-weight: bold;
}

          
form input {

    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 30px;
    
    border-radius: 3px;
    border:  none;
    
    
}

form input :required {
    background-color:#04041de7;
}

form textarea {
    
    width: 100%;
    border-radius: 3px;
    border:  none;
    font-family: 'Open-Sans', Helvetica, sans-serif;
}


.submit {
    
    
    width: 100px;
    height: 25px;
    background-color: #ffffff;
    border: 2px;
    border-radius: 5px;
    
    text-align: center;
    
}


/* Footer section*/

footer {
    
    margin: 0 auto;
    background-color: #5828a1;
    color: #ffffff;
    text-align: right;
    padding-top: 6px;
    padding-right: 4px;
    font-size: 15px;
    padding-bottom: 12px;       
}

footer a {
    display: inline-block;
    color: white;
    transition: background-color 300ms ease-out;

}

footer a:hover {
    display: inline-block;
    color: #61458c;
    transition: background-color 300ms ease-out;
    background-color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

